#desc{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#left{
    font-size: 4vh;
}


#prop{
    font-size: 4vh;
    background-color: greenyellow;
    font-family: "Rubik";
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:0px ;
    margin-right:0px ;
    padding: 5px ;
    color: rgb(0, 17, 255);
}