#foot {
    margin-top: 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter";
    justify-content: space-between;
}

#end{
    background-color: black;
    padding: 10px;
    color: white;
    font: 600;
    font-family: "Alegreya Sans SC";
    text-align: center;
}

.foot-div {
    width: 250px;
    text-align: left;
    font-size: 2.5vh;
}

.heading3 {
    font-family: "Amaranth";
    font-size: 3vh;
}

#block3 {
    text-align: right;
}

#btnarray img{
    height: 25px;
}