#foot {
    margin-top: 10px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter";
    justify-content: space-between;
}

#end{
    background-color: black;
    padding: 10px;
    color: white;
    font: 600;
    font-family: "Alegreya Sans SC";
    text-align: center;
}

.out-label{
    padding: 5px;
    margin-bottom: 10px;
}
.out{
    width: 100px;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(0, 158, 26);
    padding: 5px;
    border-radius: 5px;
}
.foot-div {
    width: 250px;
    text-align: left;
    font-size: 2.5vh;
}

.heading3 {
    font-family: "Amaranth";
    font-size: 3vh;
}

#block3 {
    text-align: right;
}

#btnarray img{
    height: 25px;
}