#foot{
    margin-top: 10px;
    background-color: rgb(24, 24, 24);
    padding:10px ;
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: "Inter";
    justify-content: space-between;
}

.foot-div{
    text-align: left;
    font-size: 2.5vh;
}

.heading3{
    font-family: "Amaranth";
    font-size: 4vh;
}

#block3{
    text-align: right;
}