.navbar{
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(17, 0, 114);
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
}

.button{
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 4px;
    padding-right: 4px;
    list-style: none;
    background-color: rgb(17, 0, 114);
    border: 0px;
}

.button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.button a:hover{
    color: rgb(17, 0, 114);
    background-color: white;
}

.burger{
    /* position: absolute; */
    /* cursor: pointer; */
    /* right: 5px; */
    /* top: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2px;
    border-radius: 5px;
    display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 3px;
    border-radius: 5px;
}